body{
    margin-top: 0;
    padding: 0;
    background: url(bg.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgb(94, 163, 162);
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background:linear-gradient(rgba(94, 163, 162,0.8),rgba(94, 163, 162,0.8)), url(full-screen-image-3.jpg);
    background-size:cover
}

.loginbox{
    width: 520px;;
    height: 430px;
    background: #fff;
    color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 15px;
}

.avatar{
    position: inherit;
    width: 100px;
    height: 100px;
    border-radius: 20%;
    margin: auto;
    left: calc(50% - 50px);
}
img{
    margin-top:100px;
    width:100px;
    height:100px;
    text-align: center;
}

h1{
    margin:auto;
    
    text-align: center;
    font-size: 22px ;
    color: #000;
}
h2{
    margin-top:100px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 0px solid #000;
    background: rgb(182, 182, 182);
    outline: none;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
}

.loginbox input[type="submit"]{
    border: none;
    outline: none;
    width: 200;
    height: 40px;
    background: #000;
    color: #fff;
    font-size: 18px;
    border-radius: 15px;
    text-align: center;
    float: right;
    
}

.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #fff;
    color: #000;
    border-style: solid;
    border-color: #000;
    
    
}
.loginbox a{
     text-decoration: none;
     font-size: 12px;
     line-height: 20px;
     color: darkgrey;
}

.loginbox a:hover{
     color: rgb(153, 0, 255);
}

.login{
    border: none;
    outline: none;
    height: 400px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 18px;
    border-radius: 20px;
}


















